<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>lotteryDB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Set timeout to 30 minutes --> 
    <session-config> 
        <session-timeout>30</session-timeout> 
    </session-config>

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
      
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
   
    <!-- Error Pages -->
    <error-page>
        <error-code>403</error-code>
        <location>/error_access_denied.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error_not_found.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>405</error-code>
        <location>/error_not_supported.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>


    <!-- Application context -->
    <context-param>
        <param-name>APP_NAME</param-name>
        <param-value>LOTTERY_DB</param-value>
    </context-param>
    
    <context-param>
        <param-name>APP_VERSION</param-name>
        <param-value>V1.0</param-value>
    </context-param>
</web-app>